.header {
    background-color: #131313;
    margin-bottom: -1px;

    /* .header__logo */
    &__logo {
        width: 36.5%;
        margin: 0 auto;
        padding: 5.5% 0 4.5% 0;
    }
}

.logo {

    /* .logo__text */
    &__text {}
}

.logo-inner {}

.logo-img {}